- var img = 'img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug
		main.page-container
			.page-other__bg
				img(src=img+"image 6.png", alt="")
			.container(class="page-other")
				h1.page-other__title Раздел находится в разработке
				.page-other__subtitle Подпишитесь на обновления сервиса, чтобы быть в курсе всех событий
				form(action="") 
					input(type="text", name="", placeholder="E-mail")
					a.btn(href="#" type="submit") Подписаться
		include blocks/scripts.pug